.git
.gitignore
.next
.cursor
.ffdec*
**/*.rar
**/*.zip
**/*.7z
**/*.bak
**/*.pre-*
**/__pycache__
emulator/jre
emulator/Uninstall.exe
emulator/Server/logs/*
emulator/Server/datastore/*
public/ruffle
public/gamefiles/.server-motd-build
public/gamefiles/*.swf.prelogin
public/gamefiles/*.swf.test
public/gamefiles/**/*.broken-player-init
**/node_modules
.env
