.git
.gitignore
.next
.cursor
.ffdec*
**/*.rar
**/*.zip
**/*.7z
**/*.bak
**/*.pre-*
**/__pycache__
emulator/jre
emulator/Uninstall.exe
emulator/Server/logs/*
emulator/Server/datastore/*
gamefiles
public/ruffle
gamefiles/.server-motd-build
**/node_modules
.env
