.git
.gitignore
.cursor
.ffdec*
**/*.rar
**/*.zip
**/*.7z
**/*.bak
**/*.pre-*
**/__pycache__
emulator/jre
emulator/Uninstall.exe
emulator/Server/logs/*
emulator/Server/datastore/*
compiles/*
caches/*
gamefiles/.server-motd-build
**/node_modules
.env
*.md
