@charset "utf-8";body{font:normal 11px/1.2 tahoma,Arial,Verdana;color:#666; background: url(https://s-media-cache-ak0.pinimg.com/originals/e4/68/bf/e468bf21e67b6fef45a081e8d9986f2f.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;}
html,body,form,input,legend,label,select,option,button,fieldset,textarea,div,p,pre,blockquote,img,h1,h2,h3,h4,h5,h6,dl,dt,dd,ul,ol,li{margin:0;padding:0}
img{vertical-align:top}
button{cursor:pointer}
ol,ul,dl,li{list-style:none}
fieldset,img{border:0}
input,select,button{vertical-align:middle}
a{text-decoration:none;color:#666}
a:hover{text-decoration:underline;color:#666}
table{border-collapse:collapse}
table caption{position:absolute;left:-3000px;top:-3000px;width:0;height:0;font-size:0;line-height:0;overflow:hidden}
select,input,textarea{font:normal 11px/1.2 tahoma,Arial,Verdana;color:#666}
select{height:22px;font:normal 11px/1.2 tahoma,Arial,Verdana;color:#666}
header,footer,section,article,aside,nav,hgroup,details,menu,figure,figcaption{display:block;margin:0;padding:0}
.none{position:absolute;left:-3000px;top:-3000px;width:0;height:0;font-size:0;line-height:0;overflow:hidden}
.txtover{overflow:hidden;text-overflow:ellipsis;-o-text-overflow:ellipsis;white-space:nowrap}
.space5{clear:both;height:5px;font-size:0;line-height:0}
.space10{clear:both;height:10px;font-size:0;line-height:0}
.space15{clear:both;height:15px;font-size:0;line-height:0}
.space20{clear:both;height:20px;font-size:0;line-height:0}
.space25{clear:both;height:25px;font-size:0;line-height:0}
.space30{clear:both;height:30px;font-size:0;line-height:0}
.space35{clear:both;height:35px;font-size:0;line-height:0}
.space50{clear:both;height:50px;font-size:0;line-height:0}
.space60{clear:both;height:60px;font-size:0;line-height:0}
.space70{clear:both;height:90px;font-size:0;line-height:0}
.space90{clear:both;height:90px;font-size:0;line-height:0}
.space120{clear:both;height:120px;font-size:0;line-height:0}
.space298{clear:both;height:298px;font-size:0;line-height:0}
.space330{clear:both;height:330px;font-size:0;line-height:0}
*+html .space298{clear:both;height:297px;font-size:0;line-height:0}
.space-10{clear:both;margin-top:-10px;font-size:0;line-height:0}
.lineTop{clear:both;width:590px;height:20px;margin:18px 0 0 10px;font-size:0;line-height:0;border-top:1px solid #272727}
.linebottom{clear:both;width:590px;height:20px;margin:0 0 0 10px;font-size:0;line-height:0;border-top:1px solid #272727}
.btnStyle01{float:left;display:block;height:28px;font:bold 12px/1 Arial,Verdana,sans-serif;color:#e2deb8;cursor:pointer}
.btnStyle01 .btnleft{float:left;width:15px;height:28px;background:url('templates/images/Aldmor/cms/btn_off_bg_left01.gif') no-repeat}
.btnStyle01 .btncenter{float:left;height:20px;padding:8px 15px 0 15px;background:url('templates/images/Aldmor/cms/btn_off_bg_center01.gif') repeat-x}
.btnStyle01 .btnright{float:left;width:15px;height:28px;background:url('templates/images/Aldmor/cms/btn_off_bg_right01.gif') no-repeat}
.btnStyle01:hover{color:#e2deb8;text-decoration:none}
.btnStyle01:hover .btnleft{background:url('templates/images/Aldmor/cms/btn_over_bg_left01.gif') no-repeat}
.btnStyle01:hover .btncenter{background:url('templates/images/Aldmor/cms/btn_over_bg_center01.gif') repeat-x}
.btnStyle01:hover .btnright{background:url('templates/images/Aldmor/cms/btn_over_bg_right01.gif') no-repeat}
.btnStyle01.etc .btncenter{padding:8px 5px 0 5px}
.btnStyle02{float:left;display:block;height:26px;font:bold 12px/1 Arial,Verdana,sans-serif;color:#e5e4d1;cursor:pointer}
.btnStyle02 .btnleft{float:left;width:3px;height:26px;background:url('templates/images/Aldmor/cms/btn_off_bg_left02.html') no-repeat}
.btnStyle02 .btncenter{float:left;height:20px;padding:6px 20px 0 20px;background:url('templates/images/Aldmor/cms/btn_off_bg_center02.html') repeat-x}
.btnStyle02 .btnright{float:left;width:3px;height:26px;background:url('templates/images/Aldmor/cms/btn_off_bg_right02.html') no-repeat}
.btnStyle02:hover{color:#e5e4d1;text-decoration:none}
.btnStyle02:hover .btnleft{background:url('templates/images/Aldmor/cms/btn_over_bg_left02.html') no-repeat}
.btnStyle02:hover .btncenter{background:url('templates/images/Aldmor/cms/btn_over_bg_center02.html') repeat-x}
.btnStyle02:hover .btnright{background:url('templates/images/Aldmor/cms/btn_over_bg_right02.html') no-repeat}
#skipNavi{position:relative}
#skipNavi a{display:block;height:1px;width:1px;margin-bottom:-1px;overflow:hidden;text-align:center;color:#000;white-space:nowrap}
#skipNavi a:focus,#skipNavi a:active{height:auto;width:auto;padding:5px;margin-bottom:10px;color:#fff}
#siteVisualWrap{width:100%;background:url('templates/images/Aldmor/cms/Aldmor.png') no-repeat center top}
#siteVisualWrap #siteVisualConts{width:980px;margin:0 auto;padding-bottom:30px}
.G_ContsWrap{position:relative;min-height:1400px;_height:1400px;background:url('') no-repeat;z-index:2}
.G_ContsWrap.ch_gala{background:url('templates/images/Aldmor/cms/site_conts_top_bg_gala_20140508.jpg') no-repeat}
.gLogo{position:absolute;left:20px;top:29px;z-index:100}
/*#gStarter{position:absolute;right:75px;top:185px;z-index:7}*/
/*#gStarter a{display:block;width:181px;height:175px;background:url('/Aldmor/cms/btn_download.png') no-repeat}
*html #gStarter a{background:0;filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/Aldmor/cms/btn_download.png',sizingMethod='crop');cursor:pointer}
#gStarter a:hover{background:url('/Aldmor/cms/btn_download_over.png') no-repeat}
*html #gStarter a{background:0;filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/Aldmor/cms/btn_download_over.png',sizingMethod='crop');cursor:pointer}*/
#gDownload{position:absolute;right:75px;top:185px;z-index:8}
#gDownload a{display:block;width:181px;height:175px;background:url('templates/images/Aldmor/cms/gamebuttonhover3.png') no-repeat center top}
*html #gDownload a{background:0;filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='templates/images/Aldmor/cms/btn_download.png',sizingMethod='crop');cursor:pointer}
#gDownload a:hover{background:url('templates/images/Aldmor/cms/gamebuttonhover3.png') no-repeat center top}
*html #gDownload a{background:0;filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='templates/images/Aldmor/cms/btn_download_over.png',sizingMethod='crop');cursor:pointer}
.ersbLogo{position:absolute;right:0;top:14px;z-index:100}
#gGST_Wrap{position:absolute;left:0px;top:257px;width:300px;height:46px;z-index:8;font:normal 11px/1.6 tahoma,Arial,Verdana;color:#ccc}
#gGST_Wrap .gGST_BoxOff{position:absolute;left:0;top:0;width:290px;height:20px;padding:6px 0 0 10px;background:url('templates/images/Aldmor/cms/game_gst_bg_off.png') no-repeat}
*html #gGST_Wrap .gGST_BoxOff{background:0;filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='templates/images/Aldmor/cms/game_gst_bg_off.png',sizingMethod='crop');cursor:pointer}
#gGST_Wrap .gGST_BoxOff.gGST_BoxBgNone{background:0}
#gGST_Wrap .gGST_BoxOn{position:absolute;left:0;top:-20px;width:290px;height:41px;padding:5px 0 0 20px;background:url('templates/images/Aldmor/cms/game_gst_bg_on.png') no-repeat}
*html #gGST_Wrap .gGST_BoxOn{background:0;filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='templates/images/Aldmor/cms/game_gst_bg_on.png',sizingMethod='crop');cursor:pointer}
#gGST_Wrap .gGST_BoxOn.gGST_BoxBgShow{background:url('templates/images/Aldmor/cms/game_gst_bg_on.png') no-repeat}
*html #gGST_Wrap .gGST_BoxOn.gGST_BoxBgShow{background:0;filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='templates/images/Aldmor/cms/game_gst_bg_on.png',sizingMethod='crop');cursor:pointer}
#gGST_Wrap span{float:left;width:155px}
#gGST_Wrap time{float:left;font-weight:normal;color:#fc3}
#gGST_Wrap img{vertical-align:middle;margin-left:5px;cursor:pointer}
#GameNavi{clear:both}
#GameNavi ul{height:59px;padding:0 0 0 37px}
*+html #GameNavi ul{height:59px}
#GameNavi li{float:left;position:relative;height:59px;font:bold 14px/1.2 Arial,Verdana;color:#e8d6af;background:url('templates/images/Aldmor/cms/game_menu_div.gif') no-repeat right 23px;z-index:1000}
#GameNavi li a.depth01{display:block;font:bold 14px/1.2 Arial,Verdana;color:#e8d6af;cursor:pointer}
#GameNavi li a.depth01:hover{color:#ffd200;text-decoration:none}
#GameNavi li a.depth01 span.onLeft{display:block;float:left;width:18px;height:49px;background:0}
#GameNavi li a.depth01 span.onCent{display:block;float:left;height:30px;padding-top:19px;background:0}
#GameNavi li a.depth01 span.onRight{display:block;float:left;width:21px;height:49px;background:0}
#GameNavi li.on{margin-left:-2px;font:bold 14px/1.2 Arial,Verdana;color:#ffd200}
#GameNavi li.on a.depth01{color:#ffd200;padding:0;background:0}
#GameNavi li.on a.depth01 span.onLeft{width:18px;height:49px;background:url('templates/images/Aldmor/cms/game_gnbOn_bg_left.jpg') no-repeat left top}
#GameNavi li.on a.depth01 span.onCent{height:34px;padding-top:15px;color:#39280f;background:url('templates/images/Aldmor/cms/game_gnbOn_bg_center.jpg') repeat-x left top}
#GameNavi li.on a.depth01 span.onRight{width:22px;height:49px;background:url('templates/images/Aldmor/cms/game_gnbOn_bg_right.jpg') no-repeat right top}
#GameNavi li.on a.depth01 span{cursor:pointer}
#GameNavi li.end{background:0}
#GameNavi li .gameSlideArea{display:none;position:absolute;left:18px;top:48px;padding-top:4px;background:url('templates/images/Aldmor/cms/nav_arrow_bg.gif') no-repeat 12px 0;z-index:1000}
#GameNavi li .gameSlideArea .gameSlideBox{padding-bottom:2px;background:url('templates/images/Aldmor/cms/nav_bottom_bg.gif') no-repeat left bottom}
#GameNavi li .gameSlideArea a{display:block;min-width:181px;_width:181px;height:18px;padding:7px 10px 0 10px;background:url('templates/images/Aldmor/cms/nav_go_bg_off.gif') no-repeat;font:bold 11px/1.2 Arial,Verdana,sans-serif;color:#999;white-space:nowrap;text-align:left}
#GameNavi li .gameSlideArea a:hover{color:#fff;text-decoration:none;background:url('templates/images/Aldmor/cms/nav_go_bg_on.gif') no-repeat}
#GameNavi li .gameSlideArea a strong span{font-weight:normal}
.gContsGuideMain .location{padding:10px 0 0 40px;background:url('templates/images/Aldmor/cms/location_bg.html') no-repeat 20px 10px}
.gContsBodyDiv{clear:both;background:url('templates/images/Aldmor/cms/site_conts_middle_bg.gif') repeat-y 0px 409px;overflow:hidden;_zoom:1}
.ly_forum .gContsBodyDiv{background:url('templates/images/Aldmor/cms/site_conts_middle_guide_bg.gif') repeat-y left 409px!important}
#gContsBodyWrap{clear:both;min-height:700px;_height:700px;padding:0 8px 0 17px;background:url('templates/images/Aldmor/cms/site_conts_middle_top_bg.jpg') no-repeat;overflow:hidden;_zoom:1}
.ly_forum #gContsBodyWrap{background:url('templates/images/Aldmor/cms/site_conts_middle_top_bg_forum.jpg') no-repeat!important}
.gContsGuideMain{clear:both;width:980px;margin:0 auto}
.gContsViewWrap{float:left;width:630px;min-height:500px;_height:500px}
.newsWrap{padding-bottom:20px;margin-left:-2px;margin:-10px 0 0 -10px}
.fanSiteWrap{width:600px;padding:20px 11px 20px 0;margin:0 auto}
.fanSiteWrap h2{clear:both;height:33px;padding:7px 0 0 35px;font:bold 12px/1.2 Arial,Verdana;color:#fff;background:url('templates/images/Aldmor/cms/fansite_h2_bg.gif') no-repeat}
.fanSiteWrap h2.btnSubmitBox{height:33px;padding:7px 0 0 35px;margin-top:25px;font:bold 12px/1.2 Arial,Verdana;color:#fff;background:url('templates/images/Aldmor/cms/fansite_h2_bg.gif') no-repeat}
.gContsSideWrap{float:right;width:316px;padding:15px 0 0 4px}
.gContsInfoWrap{float:right;width:316px}
.gContsInfoWrap h2{clear:both;height:37px;padding:7px 0 0 0;margin-top:20px;font:bold 14px/1.2 Arial,Verdana;color:#fff;text-align:center;background:url('templates/images/Aldmor/cms/sub_nav_title_bg.png') no-repeat}
.gSubInfoBox{clear:both;width:300px;padding:0 0 0 4px}
aside.sideBigBanner{clear:both;padding:20px 0 0 4px}
aside.sideSumBanner{clear:both;padding:20px 0 0 4px;overflow:hidden;_zoom:1}
aside.sideSumBanner .bgTop{float:left;width:300px;height:7px;background:url('templates/images/Aldmor/cms/bg_side_banner_bg_top.gif') no-repeat left top}
aside.sideSumBanner ul{float:left;padding-top:8px;background:url('templates/images/Aldmor/cms/bg_side_banner_bg_middle.gif') repeat-y}
aside.sideSumBanner ul li{clear:both;width:300px;padding-bottom:10px;text-align:center}
aside.sideSumBanner ul li img{width:270px}
aside.sideSumBanner .bgBottom{float:left;width:300px;height:7px;background:url('templates/images/Aldmor/cms/bg_side_banner_bg_bottom.gif') no-repeat left bottom}
.mainShopWrap{clear:both;position:relative;width:300px;height:325px;margin:10px 0 0;padding:0 0 20px 4px;overflow:hidden}
.mainShopWrap h2{clear:both;height:37px;padding:7px 10px 0 0;margin-top:20px;font:bold 14px/1.2 Arial,Verdana;color:#fff;text-align:center;background:url('templates/images/Aldmor/cms/sub_nav_title_bg.png') no-repeat}
#ShopItemList{position:relative;margin:15px 0 0 11px;width:278px;height:290px;overflow:hidden}
.mainShopWrap .items{width:2000em;position:absolute}
.mainShopWrap .items .item{float:left;position:relative;width:278px;height:290px;overflow:hidden}
.mainShopWrap ul.shopListConts li.item_content{float:left;width:278px;height:290px}
.mainShopWrap ul.shopListConts li.item_content ul{position:relative}
.mainShopWrap ul.shopListConts li.item_content .img{position:absolute;left:29px;top:0;width:220px;height:200px}
.mainShopWrap ul.shopListConts li.item_content .img img{width:220px;height:200px}
.mainShopWrap ul.shopListConts li.item_content .title{position:absolute;left:0;top:210px}
.mainShopWrap ul.shopListConts li.item_content .title a{text-decoration:none}
.mainShopWrap ul.shopListConts li.item_content .title strong{display:block;padding-bottom:7px;height:28px;overflow:hidden}
.mainShopWrap ul.shopListConts li.item_content .title a strong{font:bold 14px/1.2 Arial,Verdana,sans-serif;color:#333}
.mainShopWrap ul.shopListConts li.item_content .title span{display:block}
.mainShopWrap ul.shopListConts li.item_content .title a span{font:normal 11px/1.2 tahoma,Arial,Verdana;color:#666}
.mainShopWrap .scrollbtn{position:relative;z-index:100}
.mainShopWrap .scrollbtn button{width:29px;height:200px;margin:0;padding:0;border:0;z-index:100}
.mainShopWrap .scrollbtn button.prev{position:absolute;left:11px;top:15px;background:url('templates/images/Aldmor/cms/arrow_shop01_off.gif') no-repeat}
.mainShopWrap .scrollbtn button.next{position:absolute;right:11px;top:15px;background:url('templates/images/Aldmor/cms/arrow_shop02_off.gif') no-repeat}
.mainShopWrap .scrollbtn button.prev:hover{background:url('templates/images/Aldmor/cms/arrow_shop01_over.gif') no-repeat}
.mainShopWrap .scrollbtn button.next:hover{background:url('templates/images/Aldmor/cms/arrow_shop02_over.gif') no-repeat}
.mainRankingWrap{clear:both;padding:0 0 0 4px;margin-top:-15px}
*+html .mainRankingWrap{margin-top:0}
.mainRankingBox{width:300px;height:280px}
.mainRankingWrap h2{clear:both;height:38px;padding:7px 10px 0 0;margin-top:20px;font:bold 14px/1.2 Arial,Verdana;color:#fff;text-align:center;background:url('templates/images/Aldmor/cms/sub_nav_title_bg.png') no-repeat}
.mainRankingBox h3{width:300px;height:33px;padding-top:11px;background:url('templates/images/Aldmor/cms/mainRanking_select_line.gif') no-repeat center 4px}
.mainRankingBox h3 a{float:left;font:normal 14px/1.2 Arial,Verdana;color:#333;text-decoration:none;cursor:pointer}
.mainRankingBox h3 a strong,.mainRankingBox h3 a span{display:block;width:75px;height:18px;padding-left:75px}
.mainRankingBox .mainRankPvpBox h3 a strong{background:url('templates/images/Aldmor/cms/mainRanking_select_on.png') no-repeat 50px 0}
.mainRankingBox .mainRankPvpBox h3 a span{font-weight:bold;background:url('templates/images/Aldmor/cms/mainRanking_select_off.png') no-repeat 50px 0}
.mainRankingBox .mainRankGuildBox h3 a strong{background:url('templates/images/Aldmor/cms/mainRanking_select_on.png') no-repeat 50px 0}
.mainRankingBox .mainRankGuildBox h3 a span{font-weight:bold;background:url('templates/images/Aldmor/cms/mainRanking_select_off.png') no-repeat 50px 0}
.mainRankingBox h4{clear:both;width:300px;height:30px;background:url('templates/images/Aldmor/cms/mainRanking_server_sel_line.gif') repeat-x left bottom}
.mainRankingBox h4 a,.mainRankingBox h4 a:hover{float:left;width:98px;height:21px;padding-top:7px;border:1px solid #b6ad93;font:normal 12px/1.2 Arial,Verdana;color:#666;text-align:center;text-decoration:none}
.mainRankingBox h4 a.onTab{height:22px;padding-top:7px;border-bottom:0;background:#ece9dd;font-weight:bold;color:#333}
.MainRankingList{clear:both;width:280px;padding-top:0;margin:0 auto}
.MainRankingList li{height:27px;padding-top:5px;font:normal 12px/1.2 Arial,Verdana;color:#333;background:url('templates/images/Aldmor/cms/mainRanking_server_list_line.gif') no-repeat left bottom}
.MainRankingList li.more{width:280px;padding-top:0;margin-top:-4px;text-align:right;background:#eeebe0}
.MainRankingList li.more a{padding-right:10px;font:normal 11px/1.2 tahoma,Arial,Verdana;color:#a27319;background:url('templates/images/Aldmor/cms/icon_more_arrow01.gif') no-repeat right 5px}
.MainRankingList li.more a:hover{font:normal 11px/1.2 tahoma,Arial,Verdana;color:#a27319}
.MainRankingList li img{margin-right:5px;vertical-align:middle}
.mainRankingBox .rankingNext{padding:10px;line-height:1.5;background:0}
.mainRankingBox .rankingNext strong{color:#333}
.mainRankingBox .rankingNext01{padding:10px;margin-top:-15px;line-height:1.5;background:0}
.mainRankingBox .rankingNext01 strong{color:#333}
.mainSnsFanWrap{clear:both;margin-top:10px;padding:0 0 20px 4px}
.mainSnsFanWrap h2{clear:both;height:37px;padding:7px 10px 0 0;margin-top:20px;font:bold 14px/1.2 Arial,Verdana;color:#fff;text-align:center;background:url('templates/images/Aldmor/cms/sub_nav_title_bg.png') no-repeat}
.mainSnsWrap{height:42px;padding:9px 0 0 85px;background:url('templates/images/Aldmor/cms/main_side_sns_bg.gif') no-repeat}
.mainSnsWrap li{float:left;padding-right:18px}

.gMainPromWrap{position:relative;margin:18px 0 10px 0;width:618px;height:334px;overflow:hidden}
.gMainPromWrap .promRoundBox{position:absolute;width:618px;height:334px;background:url('templates/images/Aldmor/cms/main_prom_bg.png') no-repeat;z-index:10}
*html .gMainPromWrap .promRoundBox{background:0;filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='templates/images/Aldmor/cms/main_prom_bg.png',sizingMethod='crop')}
.gMainPromWrap .items{width:2000em;position:absolute}
.gMainPromWrap .items .item{float:left;position:relative;width:610px;height:334px;overflow:hidden}
.gMainPromWrap .items .item a.itemLink{position:absolute;display:block;width:610px;height:334px;z-index:11}
.gMainPromWrap .promImg{width:591px;height:299px;padding:11px 0 0 9px}
.gMainPromWrap .promImg img{width:600px;height:310px}

.gMainPromWrap .bx-pager{position:absolute;right:46px;top:56px;z-index:12}
.gMainPromWrap .bx-pager a{display:block;width:17px;height:17px;margin:0 0 6px 0;padding:0;border:0;font-size:0;line-height:0;background:url('templates/images/Aldmor/cms/main_prom_icon_off.png') no-repeat;}
html>/**/body .gMainPromWrap .bx-pager a span,x:-moz-any-link,x:default{margin:-1px 0 0 -3px}
.gMainPromWrap .bx-pager a.active {background-image:url('templates/images/Aldmor/cms/main_prom_icon_on.png')}

.gMainPromWrap .promTxt{position:absolute;left:9px;top:200px;width:600px;height:124px;background:url('templates/images/Aldmor/cms/main_prom_txt_bg.png') no-repeat}
*html .gMainPromWrap .promTxt{background:0;filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='templates/images/Aldmor/cms/main_prom_txt_bg.png',sizingMethod='crop');cursor:pointer}
.gMainPromWrap .promTxt h2{padding:42px 0 5px 20px;font:bold 18px/1.2 Arial,Verdana;color:#fff}
.gMainPromWrap .promTxt time{padding-left:20px;font:normal 11px/1.2 Arial,Verdana,sans-serif;color:#999}
.gMainPromWrap .promTxt .txt{padding:5px 10px 0 20px;font:normal 13px/1.2 Arial,Verdana,sans-serif;color:#999;text-overflow:ellipsis;overflow:hidden}

#contentStart h3.MenuTit{font:bold 24px/1.2 Arial,Verdana;color:#ffc000}
#contentStart .gContsInfoWrap h3.MenuTit{position:relative;left:0;top:-19px;width:310px;height:49px;padding:20px 6px 0 0;text-align:center;background:url('templates/images/Aldmor/cms/sub_title_bg.jpg') no-repeat;z-index:100}
.gContsInfoWrap .menuSubWrap{clear:both;padding:0 0 196px 0;margin-top:-19px;background:url('templates/images/Aldmor/cms/sub_nav_bg_bottom.png') no-repeat left bottom}
*html .gContsInfoWrap .menuSubWrap{background:0;filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='templates/images/Aldmor/cms/sub_nav_bg_bottom.png',sizingMethod='crop')}
.gContsInfoWrap menu{clear:both;padding:9px 0 0 10px;background:url('templates/images/Aldmor/cms/sub_nav_bg_line.jpg') repeat-y}
.gContsInfoWrap menu li a{display:block;height:29px;padding:13px 0 0 36px;font:bold 14px/1.2 Arial,Verdana,sans-serif;color:#f19f69;background:url('templates/images/Aldmor/cms/sub_nav_bg_list_off.gif') no-repeat}
.gContsInfoWrap menu li a:hover{color:#ffc000;background:url('templates/images/Aldmor/cms/sub_nav_bg_list_over.gif') no-repeat;text-decoration:none}
.gContsInfoWrap menu li a.on{color:#ffc000;background:url('templates/images/Aldmor/cms/sub_nav_bg_list_over.gif') no-repeat}
.newslistStyleSmall li{padding:7px 0 6px 0;background:url('templates/images/Aldmor/cms/line_newslist_small.gif') no-repeat center bottom;color:#333;word-break:break-all;word-wrap:break-word}
.newslistStyleSmall li strong{display:block;padding:0 0 5px 7px;font:normal 12px/1.2 Arial,Verdana,sans-serif;color:#333;background:url('templates/images/Aldmor/cms/icon_newslist_jum01.gif') no-repeat left 5px}
.newslistStyleSmall li time{display:block;padding-bottom:5px;padding-left:7px;font:normal 11px/1.2 tahoma,Arial,Verdana;color:#666}
.newslistStyleSmall li a,.newslistStyleSmall li a:hover{font:normal 12px/1.2 Arial,Verdana,sans-serif;color:#333}
.newslistStyle{clear:both;width:600px;padding:20px 0 30px 0;margin:0 auto;background:url('templates/images/Aldmor/cms/list_line_bottom.gif') no-repeat left bottom}
.newslistStyle h1{padding:6px 0 5px;font:bold 20px/1.2 Arial,Verdana!important;color:#333!important;word-break:break-all;word-wrap:break-word}
.newslistStyle h1 a,.newlistStyle h1 a:hover{font:bold 20px/1.2 Arial,Verdana;color:#333;text-decoration:none}
.newslistStyle h1 a img{width:13px;height:16px;margin:5px 0 0 5px;vertical-align:middle}
.newslistStyle .dateInfo{clear:both;height:30px;font:normal 11px/1.2 tahoma,Arial,Verdana;color:#666}
.newslistStyle .dateInfo span,.newslistStyle .dateInfo time{float:left}
.newslistStyle .dateInfo .SprIco{width:80px;height:13px;padding-left:17px;color:#333;background:url('templates/images/Aldmor/cms/icon_style_case01.gif') no-repeat}
.newslistStyle .dateInfo .SprIco.even{background-position:left 2px}
.newslistStyle .dateInfo .SprIco.evenOff{background-position:left -18px}
.newslistStyle .dateInfo .SprIco.noti{background-position:left -38px}
.newslistStyle .dateInfo .SprIco.note{background-position:left -58px}
.newslistStyle .newlistConts{clear:both;padding:0 0 10px 0;font:normal 12px/1.5 Arial,Verdana,sans-serif;color:#666;}
.newslistStyle .newlistConts img{width:598px;height:148px;margin:10px 0 15px 0;border:1px solid #cec9b8}
.newslistStyle .newlistConts a,.newlistStyle .newlistConts a:hover{font:normal 12px/1.5 Arial,Verdana,sans-serif;color:#666;text-decoration:none}
.newslistStyle .goMore{clear:both;margin-top:-5px}
.newslistStyle .goMore a{padding-right:10px;font:normal 11px/1.2 tahoma,Arial,Verdana;color:#a27319;background:url('templates/images/Aldmor/cms/icon_more_arrow01.gif') no-repeat right 5px}
.newslistStyle .goMore a:hover{font:normal 11px/1.2 tahoma,Arial,Verdana;color:#a27319}
.newslistStyle .mediaDate{padding-bottom:10px;font:normal 11px/1.2 tahoma,Arial,Verdana;color:#aaa}
.newslistStyle .mediaDate a,.newslistStyle .mediaDate a:hover{color:#a27319}
.newslistStyle .mediaDate span{padding:0 5px}
.newslistStyle .gameSnsWrap{width:590px;margin:0 0 8px 0}
.newlistContsView{clear:both;width:600px;padding:10px 0;font:normal 14px/1.5 Arial,Verdana,sans-serif;color:#666;}
.newlistContsView a,.newlistContsView a:hover{font:normal 14px/1.5 Arial,Verdana,sans-serif;color:#0081e5}
.newlistContsView p{padding:0 0 15px 0}
.newlistContsView .clara_table{border-collapse:collapse;border:1px solid #cec9b8}
.newlistContsView .clara_table caption{position:absolute;left:-3000px;top:-3000px;width:0;height:0;font-size:0;line-height:0;overflow:hidden}
.newlistContsView .clara_table td{padding:7px 10px 5px 10px;border:1px solid #cec9b8}
.newlistContsView .clara_table td.table_title{background:#836a55;text-align:center;color:#fff}
.newlistContsView .clara_table td.table_conts{background:#f3f1e9;text-align:left;color:#666}
.newlistContsView .clara_txt_bold{font:bold 18px/1.5 Arial,tahoma,Verdana;color:#7f4e00}
.newlistContsView .clara_txt_normal{font:normal 12px/1.5 Arial,tahoma,Verdana;color:#999}
.newlistContsView img{max-width:590px;height:auto}
.newslistViewBtn{clear:both;padding:20px 0 30px 10px;overflow:hidden}
.newsWrap .newslistViewBtn{padding:10px 0 30px 10px}
.newslistViewBtn .arrow{float:left}
.newslistViewBtn .list{float:right}
.newlistContsView ul,.newlistContsView ul li{list-style-type:disc}
.newlistContsView ol,.newlistContsView ol li{list-style-type:decimal}
.newlistContsView li ul,.newlistContsView li ol{margin:0 1.5em}
.newlistContsView ul,.newlistContsView ol{margin:0 1.5em 1.5em 1.5em}
.mediaViewStyle .newslistStyle{margin-left:10px;border-bottom:0}
.mediaViewStyle .newslistViewBtn{padding:0 0 30px 10px;margin-top:10px}
.gameSnsWrap{clear:both;width:600px;height:29px;padding:5px 0 0 10px;margin:15px 0 8px 18px;background:url('templates/images/Aldmor/cms/sns_wrap_bg.gif') no-repeat}
.gameSnsWrap li{float:left}
.rankDateTab{width:600px;height:30px;background:url('templates/images/Aldmor/cms/rank_tab_line_bg.gif') no-repeat left bottom}
.rankDateTab a,.rankDateTab a:hover{float:left;width:148px;height:22px;padding-top:6px;font:normal 12px/1.5 Arial,Verdana,sans-serif;color:#333;text-align:center;text-decoration:none;background:#d9d3bd;border:1px solid #b6ad93}
.rankDateTab a.on{width:149px;height:23px;font-weight:bold;background:#ece9dd;border-bottom:0}
.rankDateTab p{float:right;padding-top:5px;font:normal 11px/1.5 Arial,Verdana,sans-serif;color:#666}
.rankDateTab p strong{font-weight:normal;color:#a2731b}
.rankUserChoiseBox{clear:both;width:600px;height:42px;background:url('templates/images/Aldmor/cms/fansite_line_bg.gif') no-repeat left bottom;overflow:hidden;_zoom:1}
.rankUserChoiseBox dt{float:left;width:73px;height:30px;padding:12px 0 0 20px;font:bold 12px/1.2 Arial,Verdana,sans-serif;color:#666;background:url('templates/images/Aldmor/cms/rank_cho_arrow.gif') no-repeat 68px 16px}
.rankUserChoiseBox dd{float:left;width:507px;height:42px}
.rankUserChoiseBox dd li{float:left;padding:9px 10px 0 0}
.rankUserChoiseBox dd li select{width:140px;margin-top:3px}
.rankSelectBtn{float:left;display:block;height:22px;font:normal 12px/1 Arial,Verdana,sans-serif;color:#333;cursor:pointer}
.rankSelectBtn .btnleft{float:left;width:10px;height:22px}
.rankSelectBtn .btncenter{float:left;height:17px;padding:5px 0 0 0}
.rankSelectBtn .btnright{float:left;width:10px;height:22px}
.rankSelectBtn:hover{color:#fff;text-decoration:none}
.rankSelectBtn:hover .btnleft{background:url('templates/images/Aldmor/cms/rank_cho_on_left.gif') no-repeat}
.rankSelectBtn:hover .btncenter{background:url('templates/images/Aldmor/cms/rank_cho_on_center.gif') repeat-x}
.rankSelectBtn:hover .btnright{background:url('templates/images/Aldmor/cms/rank_cho_on_right.gif') no-repeat}
.rankSelectBtn.on{color:#fff;text-decoration:none}
.rankSelectBtn.on .btnleft{background:url('templates/images/Aldmor/cms/rank_cho_on_left.gif') no-repeat}
.rankSelectBtn.on .btncenter{background:url('templates/images/Aldmor/cms/rank_cho_on_center.gif') repeat-x}
.rankSelectBtn.on .btnright{background:url('templates/images/Aldmor/cms/rank_cho_on_right.gif') no-repeat}
.rankSearchWrap{clear:both;width:463px;height:64px;padding:33px 0 0 137px;background:url('templates/images/Aldmor/cms/rank_search_box.jpg') no-repeat}
*+html .rankSearchWrap{margin-top:-13px}
.rankSearchWrap input{float:left;width:297px;height:30px;margin:0 3px 0 0;padding:8px 0 0 0;border:0;background:0;font:normal 12px/1.2 Arial,Verdana,sans-serif;color:#333;_width:297px;_height:30px;*margin:1px 0 0 0}
:root .rankSearchWrap input{padding-top:0;padding-bottom:0}
.rankSearchWrap img{float:left}
.rankingTableWrap{clear:both;overflow:hidden}
*+html .rankingTableWrap{padding-bottom:0}
.rankTable{clear:both;font:normal 11px/1.2 Arial,Verdana,sans-serif;color:#fff;background:url('templates/images/Aldmor/cms/table_bg_rank_top.gif') repeat-x left top}
.rankTable th{padding:0 5px 0 5px;font-weight:normal;text-align:center;line-height:30px;background:0}
.rankTable td{font:normal 12px/1.2 Arial,Verdana,sans-serif;color:#666;line-height:35px;text-align:center;background:url('templates/images/Aldmor/cms/fansite_line_bg.gif') no-repeat left bottom}
.rankTable td img{vertical-align:middle}
.rankTable .title{padding-left:5px;text-align:left}
.rankTable .classSell .classIcon{position:relative;width:20px;height:20px;margin:0 auto}
.rankTable .classSell .classIcon div.classBox{display:none}
.rankTable .classSell .classIcon:hover div.classBox{display:block;position:absolute;left:25px;top:-1px;min-width:100px;height:17px;padding:3px 5px 0 5px;line-height:1.2;color:#a2731b;font-weight:normal;border:1px solid #cec9b8;background:#fff;white-space:nowrap}
.rankTable .guild{padding-left:5px;text-align:left}
.rankTable .guild img{float:left;margin:7px 3px 0 0;width:20px;height:20px}
.rankTable .guild div{float:left}
.RKGuildAlbumWrap{clear:both;position:relative;width:600px;padding:40px 0 0 0;background:url('templates/images/Aldmor/cms/ranking_guild_album.jpg') no-repeat}
.RKGuildAlbumWrap .albumImg{position:absolute;left:116px;top:48px}
.RKGuildAlbumWrap .albumImg img{max-width:130px;max-height:100px}
.RKGuildAlbumWrap ul{clear:both;padding:0 0 0 288px;margin-top:-5px}
.RKGuildAlbumWrap ul li{clear:both;height:25px;padding-left:9px;font:normal 12px/25px Arial,Verdana,sans-serif;color:#999;background:url('templates/images/Aldmor/cms/ranking_list_album_jum.gif') no-repeat left 10px}
.RKGuildAlbumWrap ul li span{float:left;width:100px;color:#666;background:url('templates/images/Aldmor/cms/ranking_list_album_jum01.gif') no-repeat right 8px}
.RKGuildAlbumWrap ul li strong{float:left;padding:0 0 0 10px;color:#7f5504}
.RKGuildAlbumWrap ul li strong img{margin-left:4px;vertical-align:middle}
.RKGuildAlbumWrap ul li strong strong{width:20px;height:20px;padding:0;margin:2px 5px 0 0}
.RKGuildAlbumWrap.fame{background:url('templates/images/Aldmor/cms/ranking_fame_album.jpg') no-repeat}
.RKGuildAlbumWrap.fame ul li{clear:both;height:25px;padding-left:9px;font:normal 12px/25px Arial,Verdana,sans-serif;color:#8d8b8b;background:url('templates/images/Aldmor/cms/ranking_list_album_jum02.gif') no-repeat left 10px}
.RKGuildAlbumWrap.fame ul li span{float:left;width:100px;color:#8d8b8b;background:url('templates/images/Aldmor/cms/ranking_list_album_jum01.gif') no-repeat right 8px}
.RKGuildAlbumWrap.fame ul li strong{float:left;padding:0 0 0 10px;color:#eacf7c}
.RKGuildAlbumWrap.fame ul li strong img{margin-left:4px;vertical-align:middle}
.pageFullWrap{width:878px;padding:0 0 0 34px}
.pageFullWrap h2{clear:both;padding-top:45px;font:bold 24px/1.2 Arial,Helvetica,sans-serif;color:#000}
.pageFullWrap h2.top{padding-top:14px}
.pageFullWrap h2 span{font:bold 12px/1.2 Arial,Helvetica,sans-serif;color:#a2731b}
.pageFullWrap h2 a,.pageFullWrap h1 a:hover{font:bold 12px/1.2 Arial,Helvetica,sans-serif;color:#a2731b;text-decoration:none}
.pageFullWrap p.downTxt{clear:both;padding:10px 0 15px 0;font:normal 14px/1.2 Arial,Helvetica,sans-serif;color:#333}
.pageFullWrap .downBtnWrap{clear:both;position:relative;width:878px;height:151px;padding-top:30px;background:url('templates/images/Aldmor/cms/down_link_bg.gif') no-repeat left bottom}
.pageFullWrap .downBtnWrap .direct{position:absolute;left:148px;top:30px}
.pageFullWrap .downBtnWrap .directGala{position:absolute;left:300px;top:30px}
.pageFullWrap .downBtnWrap .direct a{display:block;width:276px;height:41px;padding-top:17px;font:bold 16px/1.5 Georgia Verdana,Arial;color:#fadc35;background:url('templates/images/Aldmor/cms/down_link_btn_direct_bg.jpg') no-repeat;text-align:center}
.pageFullWrap .downBtnWrap .direct a:hover{text-decoration:none;color:#fadc35}
.pageFullWrap .downBtnWrap .p2p{position:absolute;left:300px;top:30px}
.pageFullWrap .downBtnWrap .torrnet{position:absolute;left:450px;top:30px}
.pageFullWrap .downBtnWrap .torrnet a{display:block;width:276px;height:41px;padding-top:17px;font:bold 16px/1.5 Georgia Verdana,Arial;color:#fadc35;background:url('templates/images/Aldmor/cms/down_link_btn_torrent_bg.jpg') no-repeat;text-align:center}
.pageFullWrap .downBtnWrap .torrnet a:hover{text-decoration:none;color:#fadc35}
.pageFullWrap .downBtnWrap .patch{position:absolute;left:157px;top:105px;padding-left:20px;font:normal 14px/1.2 Arial,Helvetica,sans-serif;color:#333;background:url('templates/images/Aldmor/cms/down_link_icon.gif') no-repeat left 2px}
.pageFullWrap .downBtnWrap .patch strong{color:#a2731b}
.pageFullWrap .downBtnWrap .patch a{font-size:12px;color:#a2731b}
.pageFullWrap .downBtnWrap .update{position:absolute;right:30px;top:145px;font:bold 11px/1.5 Arial,Helvetica,sans-serif;color:#6f6f6e}
.pageFullWrap .downBtnWrap .update span{color:#333}
.pageFullWrap .downTip{clear:both}
.pageFullWrap .downTip dt{padding:15px 0 12px 0;font:bold 14px/1.2 Arial,Helvetica,sans-serif;color:#333}
.pageFullWrap .downTip dd{font:normal 12px/1.5 Arial,Helvetica,sans-serif;color:#666}
.pageFullWrap .downTip dd a{font-weight:bold;color:#a2731b}
.pageFullWrap .systemSpce th{padding:8px 0 7px 0;font:normal 11px/1.2 Arial,Helvetica,sans-serif;color:#fff;border-top:1px solid #a1856a;background:#806854}
.pageFullWrap .systemSpce td{padding:8px 0 8px 0;font:normal 12px/1.2 Arial,Helvetica,sans-serif;color:#666;text-align:center;background:url('templates/images/Aldmor/cms/systemSpec_td_line.gif') repeat-x left bottom}
.pageFullWrap .systemSpce td.last{background:#e2decf url('templates/images/Aldmor/cms/systemSpec_td_line.gif') repeat-x left bottom}
.pageFullWrap .systemSpce td.headTh{text-align:left;padding-left:35px}
.pageFullWrap .downMirror{clear:both}
.pageFullWrap .downMirror li{float:left;width:163px;height:63px;padding:7px 0 0 7px;margin:6px 0 0 7px;background:url('templates/images/Aldmor/cms/down_mirror_bg.gif') no-repeat}
.pageFullWrap .downMirror li.first{margin-left:0}
.pageFullWrap .downMirror li img{width:156px;height:56px}
.pageFullWrap .downLinkEtc li{float:left}
.tableStyle02{clear:both;background:url('templates/images/Aldmor/cms/systemSpec_td_line.gif') repeat-x left top}
.tableStyle02 th{width:140px;padding:14px 0 12px 10px;font:normal 12px/1 Arial,Verdana,sans-serif;color:#333;text-align:left;background:url('templates/images/Aldmor/cms/systemSpec_td_line.gif') repeat-x left bottom}
.tableStyle02 td{padding:10px 10px 10px 18px;font:normal 12px/1.2 Arial,Verdana,sans-serif;color:#666;text-align:left;background:url('templates/images/Aldmor/cms/systemSpec_td_line.gif') repeat-x left bottom;word-break:break-all;word-wrap:break-word}
.tableStyle02 td label{padding-right:5px;margin-left:10px;font:normal 12px/1 tahoma,Arial,Verdana;color:#666}
.tableStyle02 td .dateTime{position:relative}
.tableStyle02 td input.txtstyle{height:18px;padding:4px 0 0 3px;border:1px solid #bbb6a6;font:normal 12px/1 Arial,Verdana,sans-serif;color:#666}
.tableStyle02 td .fileAdd{float:left;width:580px;height:65px;margin-top:8px;border:1px solid #bbb6a6}
.tableStyle02 td .btnAcountTerm{float:left;width:110px;padding:5px 0 0 5px}
.tableStyle02 td span{color:#a2731b}

/* site map 20140325 */
.wrp_sitemap_game {clear:both;width:100%;padding-bottom:30px;border-top:1px solid #e5e5e5;background:#f8f8f8;overflow:hidden;}
.wrp_sitemap_game h1 {width:100%;padding:15px 0 13px 0;background:#efefef;}
.wrp_sitemap_game h1 strong {display:block;width:960px;padding:0 0 0 20px;margin:0 auto;font-size:12px;color:#888;font-weight:normal;}
.wrp_sitemap_list {width:960px;padding:30px 0 0 20px;margin:0 auto;}
.wrp_sitemap_list h4 {padding-bottom:10px;font-size:14px;color:#333;}
.list_sitemap_bx {float:left;width:137px;}
.list_sitemap_bx li {line-height:1.7;}
.list_sitemap_bx li a {font-size:12px;color:#888;}
 .cms-input { padding:6px; font-size:15px; border-radius:50px; border-width:3px; border-style:groove; background-color:#ffffff; border-color:#785206; text-shadow:0px 0px 0px rgba(42,42,42,.75);  } 
		 .cms-input:focus { outline:none; } 
.button {
   border: 1px solid #8c2d02;
   background: #a32a05;
   background: -webkit-gradient(linear, left top, left bottom, from(#8f4504), to(#a32a05));
   background: -webkit-linear-gradient(top, #8f4504, #a32a05);
   background: -moz-linear-gradient(top, #8f4504, #a32a05);
   background: -ms-linear-gradient(top, #8f4504, #a32a05);
   background: -o-linear-gradient(top, #8f4504, #a32a05);
   background-image: -ms-linear-gradient(top, #8f4504 0%, #a32a05 100%);
   padding: 9px 18px;
   -webkit-border-radius: 0px;
   -moz-border-radius: 0px;
   border-radius: 0px;
   -webkit-box-shadow: rgba(255,255,255,0.4) 0 1px 0, inset rgba(255,255,255,0.4) 0 1px 0;
   -moz-box-shadow: rgba(255,255,255,0.4) 0 1px 0, inset rgba(255,255,255,0.4) 0 1px 0;
   box-shadow: rgba(255,255,255,0.4) 0 1px 0, inset rgba(255,255,255,0.4) 0 1px 0;
   text-shadow: #cc3000 0 1px 0;
   color: #ffffff;
   font-size: 11px;
   font-family: helvetica, serif;
   text-decoration: none;
   vertical-align: middle;
   }
.button:hover {
   border: 1px solid #9e3505;
   text-shadow: #ff3c00 0 1px 0;
   background: #db6600;
   background: -webkit-gradient(linear, left top, left bottom, from(#8c3107), to(#db6600));
   background: -webkit-linear-gradient(top, #8c3107, #db6600);
   background: -moz-linear-gradient(top, #8c3107, #db6600);
   background: -ms-linear-gradient(top, #8c3107, #db6600);
   background: -o-linear-gradient(top, #8c3107, #db6600);
   background-image: -ms-linear-gradient(top, #8c3107 0%, #db6600 100%);
   color: #fff;
   }
.button:active {
   text-shadow: #995603 0 1px 0;
   border: 1px solid #a16805;
   background: #c73f00;
   background: -webkit-gradient(linear, left top, left bottom, from(#c26400), to(#db6600));
   background: -webkit-linear-gradient(top, #c26400, #c73f00);
   background: -moz-linear-gradient(top, #c26400, #c73f00);
   background: -ms-linear-gradient(top, #c26400, #c73f00);
   background: -o-linear-gradient(top, #c26400, #c73f00);
   background-image: -ms-linear-gradient(top, #c26400 0%, #c73f00 100%);
   color: #fff;
