<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="description" content="A free, massively multiplayer game that plays in your browser!" />
<title>AW - Game</title>
<script type="text/javascript"> var adblock = true; </script>
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<script type="text/javascript" src="css/js/merged.js"></script>
<script type="text/javascript" src="css/js/tabcontent.js"></script>
<script type="text/javascript" src="css/js/soundmanager2.js"></script>
<script type="text/javascript" src="css/js/swfobject.js"></script>  
<script type="text/javascript" src="css/js/jquery.leanModal.min.js"></script> 
<script type="text/javascript" src="css/js/jquery.nicescroll.min.js"></script>
<link rel="stylesheet" type="text/css" href="css/playnow.css"/>

</head>

<body>
<div id="toolbar" class="cf">
        <nav>
            <ul style="display:none" id="nav">
<li><a href="/">HomePage</a></li>
<li><a href="Register.php">Register</a></li>
<li><a href="Ranking.php">Rankings</a></li>
<li><a href="Maps.php">Maps List</a></li>
<li><a href="Team.php">Staff List</a></li>
<li><a href="Rules.php">Rules</a></li>
<li><a href="Account/Manage.php">Account</a></li>
            </ul>
        </nav>
    </div>
	<hr />
  </header><!-- <<< End Header >>> -->
  
  {$Content nocache}
  
</body>
</html>